@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #000000;
}

::-webkit-scrollbar-thumb {
  background: #E40037;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #FF2B51;
}

/* Global styles */
html {
  scroll-behavior: smooth;
}

body {
  background-color: #000000;
}